
# Vision / Imageprocessing
opencv-python
Pillow
scikit-image

# Data manipulation / Scientific computing
numpy
pandas
scipy

# Machine learning / Deep learning
scikit-learn
tensorflow
albumentations

# Visualization
matplotlib
seaborn

# Performance optimization
numba

# Progress bars
tqdm

# Python runner 
ipython
jupyter
notebook